html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  min-height: 100vh;
}

.login {
  min-height: 100vh;
}


.images {
display: flex;
justify-content: center;
padding-top: 200px;
padding-bottom: 200px;
}

